.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 $m-size;
}

.compress-form {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.compress-form__input {
    background: $dark-blue;
    border: none;
    color: $off-white;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

.compress-form__text {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.compress-form__error {
    @extend .compress-form__text;
    color: red;
}

.compress-form__button {
    background: $purple;
    border: none;
    border-bottom: 0.3rem solid darken($purple, 10%);
    padding: $s-size;
    cursor: pointer;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}
